<!DOCTYPE html>
<html>

<head>
    <title>Kaiyuan Chen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Jiancheng Yang, Yang Jiancheng, Shanghai Jiao Tong University, 杨健程">
    <meta name="description" content="Jiancheng Yang's home page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vender/bootstrap.min.css" rel="stylesheet">
    <link href="vender/jemdoc.css" rel="stylesheet">
    <script src="vender/vue.min.js"></script>
    <link href="assets/site/favicon.ico" rel="icon" type="image/x-icon" />
</head>


<body>

    <div class="container" id="app">

        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <div class="navbar-nav mr-auto">
                    <span v-for="item in site.navbar">
                        <a class="nav-item nav-link" v-bind:href="item.href">{{item.tag}}</a>
                    </span>
                </div>

                <div class="navbar-nav ml-auto">
                    <span class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Links
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <span v-for="item in site.links">
                                <a class="dropdown-item" v-bind:href="item.href" target="_blank">{{item.tag}}</a>
                            </span>
                        </div>
                    </span>
                </div>

            </div>

        </nav>

        <hr>

        <div class="row" id="sectionAbout">

            <div class="d-none d-md-block col-md-4 col-lg-3">
                <img v-bind:src="about.avatar" class="img-fluid">
            </div>

            <div class="col-md-8 col-lg-9">
                <div>
                    <h1>
                        <b>{{about.nameCN}}<br>{{about.nameEN}}</b>
                    </h1>
                </div>

                <h3><b>{{about.affiliation}}</b></h3>

                <span v-for="contact in about.contacts">
                    <a v-bind:href="contact.href" target="_blank">
                        <img v-bind:src="contact.src" height="30px" class="img-fluid">
                    </a>
                    &nbsp;
                </span>

            </div>

        </div>

        <div class="row" id="sectionBiography">
            <div class="col">
                <h2>
                    <b>Biography</b>
                    <small>
                        <span class="badge" v-bind:class="{'badge-dark': selectedBiography === 'en'}"
                            v-on:mouseover="selectedBiography = 'en'">[En]</span>
                        <span class="badge" v-bind:class="{'badge-dark': selectedBiography === 'cn'}"
                            v-on:mouseover="selectedBiography = 'cn'">[中]</span>
                    </small>
                </h2>
                <p style="text-align:justify; text-justify:inter-ideograph">
                    <span v-html="biography[selectedBiography]"></span>
                </p>

                <!-- <p style="text-align:justify; text-justify:inter-ideograph">
                    <i>
                        <b>Opening:</b>
                        <span v-html="opening.header"></span>
                        (See this <a href="pages/opening.html" target="_blank">list</a>)
                        <br>
                        <span v-html="opening.footer"></span>
                    </i>
                </p> -->
            </div>
        </div>

        <!-- <div class="row" id="sectionNews">
            <div class="col">
                <h2><b>News</b></h2>
                <div style="height: 250px; overflow: auto;">
                    <ul>
                        <li v-for="item in news.slice(0,10)" style="text-align:justify; text-justify:inter-ideograph">
                            [{{item.mmyyyy}}]
                            <span v-html="item.text"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="row" id="sectionPublications">

            <div class="col">
                <h2>
                    <b>Selected Publications</b>
                </h2>
                <i>
                    Full publication list on <a v-bind:href="about.contacts[0].href" target="_blank">Google Scholar</a>.
                    * indicates equal contribution.
                </i>
                <p>
                    <small>
                        Filter by Year:
                        <select class="form-select form-select-sm" v-model="selectedYear">
                            <option value="All">
                                All
                            </option>
                            <option v-for="yyyy in years">
                                {{yyyy}}
                            </option>
                        </select>
                        | Filter by Topic:
                        <select class="form-select form-select-sm" v-model="selectedTopic">
                            <option value="All">
                                All
                            </option>
                            <option v-for="topic in topics">
                                {{topic}}
                            </option>
                        </select>
                    </small>
                </p>

                <ul>
                    <li v-for="(item, pid) in publications" style="text-align:justify; text-justify:inter-ideograph"
                        v-on:mouseover="hoverPubId = pid" v-on:mouseleave="hoverPubId = -1"
                        v-if="( (selectedYear === 'All') || (selectedYear === item.year) ) && ( (selectedTopic === 'All') || ((item.topics.includes(selectedTopic))) )">

                        <div v-bind:class="{'bg-light': hoverPubId === pid}">
                            <b>
                                <a v-bind:href="item.file" target="_blank">
                                    <span v-html="item.title"></span>
                                </a>
                            </b>
                            <br>

                            <small v-if="item.note">({{item.note}})<br></small>

                            <span v-for="(author, uid) in item.authors">
                                <span v-if="author.startsWith(about.nameEN)"><b>{{author}}</b></span><span
                                    v-else>{{author}}</span><span v-if="uid === (item.authors.length-1)">.</span><span
                                    v-else>, </span>
                            </span>
                            <br>

                            <i class="d-none d-sm-block">
                                {{item.venue}}<span v-if="item.abbr"> ({{item.abbr}})</span>, {{item.year}}
                            </i>
                            <i class="d-block d-sm-none">
                                <span v-if="item.abbr">{{item.abbr}}, {{item.year}}</span>
                                <span v-else>{{item.venue}}, {{item.year}}</span>
                            </i>
                            <p v-if="item.highlight" style="color:red">({{item.highlight}})</p>
                            <p v-if="item.materials">
                                <span v-for="material in item.materials">
                                    [<a v-bind:href="material.href" target="_blank">{{material.tag}}</a>]
                                </span>
                            </p>
                        </div>

                        <img v-if="item.img && (hoverPubId === pid)" v-bind:src="item.img" class="img-fluid"
                            style="max-height:250px; width:auto">
                    </li>
                </ul>

            </div>
        </div>

        <div class="row" id="sectionPreprints" v-if="preprints.length>0">

            <div class="col">
                <h2><b>Selected Preprints</b></h2>

                <ul>
                    <li v-for="(item, pid) in preprints" style="text-align:justify; text-justify:inter-ideograph"
                        v-on:mouseover="hoverPreId = pid" v-on:mouseleave="hoverPreId = -1">

                        <b><span v-html="item.title"></span></b>
                        <br>

                        <small v-if="item.note">({{item.note}})<br></small>

                        <span v-for="(author, uid) in item.authors">
                            <span v-if="author.startsWith(about.nameEN)"><b>{{author}}</b></span><span
                                v-else>{{author}}</span><span v-if="uid === (item.authors.length-1)">.</span><span
                                v-else>, </span>
                        </span>
                        <br>

                        <i><a v-bind:href="item.file" target="_blank">{{item.venue}}</a></i>

                        <p v-if="item.highlight" style="color:red">({{item.highlight}})</p>
                        <p v-if="item.materials">
                            <span v-for="material in item.materials">
                                <a v-bind:href="material.href" target="_blank">
                                    [{{material.tag}}]
                                </a>
                            </span>
                        </p>

                        <img v-if="item.img && (hoverPreId === pid)" v-bind:src="item.img" class="img-fluid"
                            style="max-height:250px; width:auto">

                    </li>
                </ul>

            </div>
        </div>

        <div class="row" id="sectionHonors">
            <div class="col">
                <h2><b>Selected Honors</b></h2>
                <ul>
                    <li v-for="item in honors" style="text-align:justify; text-justify:inter-ideograph">
                        [{{item.yyyy}}]
                        <span v-html="item.text"></span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <div class="row" id="sectionCompetitions">
            <div class="col">
                <h2><b>Selected AI Competitions</b></h2>
                <ul>
                    <li v-for="item in competitions" style="text-align:justify; text-justify:inter-ideograph">
                        [{{item.yyyy}}]
                        <span v-html="item.text"></span>
                    </li>
                </ul>
            </div>
        </div> -->
        <!-- 
        <div class="row" id="sectionActivities" v-on:mouseover="activityHover=true"
            v-on:mouseleave="activityHover=false">
            <div class="col">
                <h2>
                    <b>Professional Activities</b>
                    <span class="badge" v-bind:class="{'badge-dark': activityHover}">
                        <small>[Hover to view]</small>
                    </span>
                </h2>

                <div v-if="activityHover">

                    <h3><b>Organizer</b></h3>
                    <ul>
                        <li v-for="item in activities.organizer"
                            style="text-align:justify; text-justify:inter-ideograph">
                            <span v-html="item"></span>
                        </li>
                    </ul>

                    <h3><b>Conference Program Committee / Reviewer</b></h3>
                    <ul>
                        <li v-for="(item, pid) in activities.conference"
                            style="text-align:justify; text-justify:inter-ideograph" 
                            v-on:mouseover="hoverConfId = pid"
                            v-on:mouseleave="hoverConfId = -1">
                            <span class="d-none d-sm-block">
                                <span v-if="hoverConfId === pid" class="badge badge-dark">
                                    <small>{{item.year}}</small>
                                </span>
                                {{item.venue}} ({{item.abbr}})
                            </span>
                            <span class="d-block d-sm-none">
                                {{item.abbr}} 
                                <span v-if="hoverConfId === pid" class="badge badge-dark">
                                    <small>{{item.year}}</small>
                                </span>
                            </span>
                        </li>
                    </ul>

                    <h3><b>Journal Reviewer</b></h3>
                    <ul>
                        <li v-for="item in activities.journal" style="text-align:justify; text-justify:inter-ideograph">
                            <span class="d-none d-sm-block">
                                {{item.venue}} <span v-if="item.abbr">({{item.abbr}})</span>
                            </span>
                            <span class="d-block d-sm-none">
                                <span v-if="item.abbr">{{item.abbr}}</span>
                                <span v-else>{{item.venue}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <!-- <div class="row" id="sectionTalks" v-on:mouseover="talkHover=true" v-on:mouseleave="talkHover=false">

            <div class="col">
                <h2>
                    <b>Selected Talks</b>
                    <span class="badge" v-bind:class="{'badge-dark': talkHover}">
                        <small>[Hover to view]</small>
                    </span>
                </h2>

                <ul v-if="talkHover">
                    <li v-for="(item, pid) in talks" style="text-align:justify; text-justify:inter-ideograph">

                        <b>{{item.title}}</b>
                        <span v-if="item.materials">
                            <span v-for="material in item.materials">
                                <a v-bind:href="material.href" target="_blank">
                                    [{{material.tag}}]
                                </a>
                            </span>
                        </span>
                        <br>

                        <p v-for="(turn, uid) in item.turns">
                            at: [{{turn.mmyyyy}}]
                            <i>
                                <span v-html="turn.where"></span>
                            </i>
                            <span v-if="turn.note">&nbsp;(<span v-html="turn.note"></span>)</span>
                        </p>

                    </li>
                </ul>

            </div>
        </div> -->

        <div class="row" id="sectionMisc" v-on:mouseover="miscHover=true" v-on:mouseleave="miscHover=false">
            <div class="col">
                <h2>
                    <b>Misc.</b>
                    <span class="badge" v-bind:class="{'badge-dark': miscHover}">
                        <small>[Hover to view]</small>
                    </span>
                </h2>

                <ul v-if="miscHover">
                    <li v-for="item in misc" style="text-align:justify; text-justify:inter-ideograph">
                        <span v-html="item"></span>
                    </li>
                </ul>
            </div>
        </div>

        <blockquote class="blockquote text-right">
            <i>"Do not go gentle into that good night."</i>
            <footer class="blockquote-footer">
                Poem by Dylan Thomas /
                <cite>
                    <a href="https://en.wikipedia.org/wiki/Interstellar_(film)" target="_blank">
                        Interstellar
                    </a>
                </cite>
                (Film)
            </footer>
        </blockquote>

        <hr>

        <p align="center">
            Copyright © {{site.year}} <span class="d-block d-sm-none"></span>{{about.nameCN}} {{about.nameEN}}
        </p>

        <p align="center">
            <small>
                This <a v-bind:href="site.siteURL" target="_blank">website</a> is hosted on <a
                    v-bind:href="site.repoURL" target="_blank">GitHub</a>.
                Updated on {{site.lastUpdated}}.
            </small>
        </p>

        <p align="center" v-show="site.showPageviews">
            <!-- Please DO NOT use the following page tracker if you are using my website as template. -->
            <small>Pageviews since Nov, 2020:</small><br>
            <a href="https://clustrmaps.com/site/1behp" title="Visit tracker">
                <img
                    src="https://clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=tt&d=7RCklwYfZbd5GuUGn-g2BcGrODdGF07rzL_Yu0kH1cg&co=a1bfd4&ct=ffffff" />
            </a>
        </p>


    </div>

    <script src="vender/jquery-3.5.1.min.js"></script>
    <script src="vender/bootstrap.min.js"></script>

    <script src="assets/data/mandatory.js"></script>
    <script src="assets/data/biography.js"></script>
    <script src="assets/data/opening.js"></script>
    <!-- <script src="assets/data/news.js"></script> -->
    <script src="assets/data/publications.js"></script>
    <script src="assets/data/honors.js"></script>
    <script src="assets/data/activities.js"></script>
    <script src="assets/data/talks.js"></script>
    <script src="assets/data/misc.js"></script>

    <script src="assets/app.js"></script>

</body>

</html>